
<div class="card bg-olddark block-article mb-5">
    <div class="card-body">
        <h3 class="card-title font-oswald">Тэги: </h3>
        <div>
    {{ range .Site.Taxonomies.tags }}
            <a class="badge badge-my fs90 m-1" href="{{ .Page.Permalink }}">{{ .Page.Title }} <span class="badge badge-2w">{{ .Count }}</span></a>
    {{ end }}


        </div>
    </div>
</div>

<div class="card bg-olddark block-article mb-5">
    <div class="card-body">
        <h3 class="card-title font-oswald">Последние записи: </h3>
        <ul class="lastul">
            {{ $pages :=  site.RegularPages  }}
            {{ range first 7  ($pages) }}
            <li><span class="badge badge-2w" >{{ .Type }}</span>  <a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>



    </div>
</div>

<div class="card bg-olddark block-article mb-5">
    <div class="card-body">
        <h3 class="card-title font-oswald">Написать мне:</span>
        </h3>
        <div class="card-text mt-3">Если у вас есть какие-то идеи предложения, или вы хотите реализовать вашу
            задумку. Можете написать на:
            <br>Email - <a href="mailto:izyice@protonmail.com">izyice@protonmail.com</a>,
            <br>Telegram - <a href="https://t.me/izy_di">@izy_di</a>
            <br><br>Либо отпрваить через форму ниже , указав контактные данные.
        </div>
        <div class="mt-3">
            <form id="send_me" class="floating-form">

                <div class=" floating-label mt-4-5 fs90">
                    <input
                            type="text"
                            class="form-control floating-input floating-textarea"
                            placeholder=" "
                            id="sendmetext"

                    >
                    <label for="sendmetext">Email/Telegram/Телефон:</label>
                </div>


                <div class="floating-label mt-4-5 fs90">
                                <textarea
                                        class="form-control floating-input floating-textarea"
                                        placeholder=" "
                                        id="sendmetextarea"

                                ></textarea>
                    <label for="sendmetextarea">Краткая суть:</label>
                </div>
                <div class=" floating-label mt-4-5 fs90 d-flex  align-items-center">
                    <span class="d-inline-block font-weight-bold fwefwqe" >10 + 2= </span>
                    <input
                            type="text"
                            class="form-control floating-input floating-textarea"
                            placeholder=" "
                            id="sendmenumber"

                    >
                </div>
                <button id="send_me_button"
                        class="btn btn-outline-info btn-rounded btn-block  waves-effect z-depth-0 mt-4-5 fs90"
                        type="submit">ОТПРАВИТЬ
                </button>

            </form>
        </div>
    </div>
</div>