@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Oswald:200,300,400,500,600,700&display=swap&subset=cyrillic');
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");


$font-opensans: 'Open Sans', sans-serif;
$font-an: 'Amatic SC', cursive;
$font-oswald: 'Oswald', sans-serif;
$transition-base: all .2s ease-in-out !default;

$bg-olddark: #1d2024 !important;
$main-link: #17a2b8 !important;
$lite-white: #ffffff52;
$color-text: #737f8a;
$main-bg: #353b43;
$light: white !important;

html, body {
  height: 100%;
  margin: 0;
}

main {
  min-height: calc(100vh - 20px)
}

.bg-olddark {
  background-color: $bg-olddark;
}

.color-text {
  color: $color-text !important;
}

.font-oswald {
  font-family: $font-oswald;
}

.font-an {
  font-family: $font-an;
}

.mt-4-5 {
  margin-top: 2rem;
}

.font-oswald-3 {
  font-family: $font-oswald;
  font-weight: 300;
}

.btn-main {
  border: 1px solid $lite-white;
  padding: 7px 10px;
  font-weight: 300;

  &:hover {
    border-color: $main-link;
  }
}

.fs90 {
  font-size: 90% !important;

}

.badge-2w {
  background-color: #1a59657d;
  color: #e2e7ec;
}

.badge-my {
  border: 1px solid $lite-white;
  cursor: pointer;
  font-weight: 300;

  &:hover {
    color: $main-link;
    border-color: $main-link;
  }
}

body {
  font-family: $font-opensans;
  color: $color-text;
  background-color: $main-bg;

  a {
    color: white !important;
    transition: $transition-base;

    &:hover {
      color: $main-link;
    }
  }
}

.a-revers {
  color: $main-link;
  text-decoration: underline;

  &:hover {
    color: $light;
  }
}

.link_top {
  a {
    border: 1px solid transparent;
    margin: 1px 3px;
    display: flex;
    text-decoration: none;


    &:hover {
      color: $light;
      border-color: $lite-white;
    }
  }

  .myicon {
    display: inline-block;
    background: url('../img/ico.png') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    background-size: 40px;


    &.githab {
      background-position: -0px -0px;
      width: 20px;
      height: 20px;
    }

    &.linkedin {
      background-position: -20px 0px;
      width: 20px;
      height: 20px;
    }

    &.nucleus {
      background-position: -0px -64px;
      width: 20px;
      height: 20px;
    }

    &.youtube {
      background-position: 0px -40px;
      width: 20px;
      height: 20px;;
    }

    &.telegram {
      background-position: -20px -21px;
      width: 20px;
      height: 20px;
    }

    &.habr {
      font-weight: 900;
      font-family: $font-oswald;
      background: none;
      text-indent: 0;

      &:hover {
        color: white;

      }
    }
  }
}

.navbartop {
  background-color: $bg-olddark;
  font-family: $font-oswald;
  font-weight: 300;

  #navbartop {
    font-size: 2rem;


    a {
      color: $color-text;
      padding: 1rem 1rem 1.3rem 1rem;

      &:hover {
        color: $main-link;
      }


    }

    .active {
      a {
        color: $main-link;
      }
    }
  }

  .dropdown-menu {
    background-color: $bg-olddark;
    font-size: 1.5rem;

    .dropdown-item {
      font-weight: 300;
    }


  }
}

#send_me {
  input, textarea {


    background-color: $main-bg;
    border: 1px solid $main-bg;
    color: $light;
    font-size: 90%;


    &:focus {
      border: 1px solid $main-link;
      box-shadow: 0 0 3px $main-link;
    }
  }


  /****  floating-Lable style start ****/
  .floating-label {
    position: relative;
  }

  label {
    color: $color-text;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 5px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  .floating-input:focus ~ label, .floating-input:not(:placeholder-shown) ~ label,
  .floating-select:focus ~ label, .floating-select:not([value=""]):valid ~ label {
    top: -14px;
    color: $main-link;
    font-size: 1rem;
  }

  /* active state */
  .floating-input:focus ~ .bar:before, .floating-input:focus ~ .bar:after, .floating-select:focus ~ .bar:before, .floating-select:focus ~ .bar:after {
    width: 50%;
  }

  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }


  /* active state */
  .floating-input:focus ~ .highlight, .floating-select:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
  }


}

.lastul {
  margin: 0;
  padding: 0;

  li {
    display: block;
    margin-top: 1rem;

    a {
      color: $color-text !important;
      text-decoration: underline;

      &:hover {
        color: $main-link;
      }
    }
  }


}


.paginationmain {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;

  li {
    display: inline-block;

    a {
      display: block;
      min-width: 25px;
      min-height: 25px;
      padding: 0.2rem;
      margin: 0.2rem;
      background-color: $bg-olddark;
      text-align: center;
      font-weight: 700;
      border-radius: 3px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .page-item.active .page-link {
    border-color: $main-link;
  }

  .page-item.disabled .page-link {
    border: 1px solid #2d629794;
  }

  .page-link {
    border: 1px solid #2d629794;
  }
}

.myphoto {
  width: 100%;
  display: block;
}

.mbli05 {
  li {
    margin-bottom: 0.5rem !important;
  }
}

.sdf4rtf {
  margin-bottom: 5rem;
}

#sendmenumber {
  margin-left: 10px;
}

.fwefwqe {
  width: 5rem;
  font-size: 1.3rem;
}