<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="yandex-verification" content="17547496a32607a3" />
    <title>{{ block "title" . }}{{ .Title }} – {{ .Site.Title }}{{ end }}</title>
    <!-- Bootstrap core CSS -->
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ partial "head/css" . }}

</head>

<body>
<main>
    <div class="container-fluid mb-5">
        {{ partial "header" . }}
    </div>
    <div class="container-fluid">

        <div class="row mr-lg-5 ml-lg-5  mr-xl-5 ml-xl-5">

            <div class="col-sm-12 col-md-8  col-lg-8 col-xl-8">
                {{ block "main" . }}{{ end }}

                {{ block "paginationmain" . }}{{ end }}

            </div>
            <div class="col-sm-12 col-md-4  col-lg-4 col-xl-4">
                {{ block "leftsidebar" . }}{{ end }}


            </div>

        </div>


    </div>

    </div> <!-- /container -->
</main>
{{ partial "footer" . }}


</body>
{{ partial "js/footer_js" . }}
</html>
