<div class="card bg-olddark block-article mb-5">
    <div class="card-body">
        <h2 class="card-title font-oswald"><a href="{{ .Permalink }}" class="color-text">{{ .Title }}</a></h2>


        {{ $taxo := "tags" }} <!-- Use the plural form here -->
        <div class="card-subtitle" id="{{ $taxo }}">
            Тэги:
            {{ range .Param $taxo }}
            {{ $name := . }}
            {{ with $.Site.GetPage (printf "/%s/%s" $taxo ($name )) }}
            <a class="badge badge-my" href="{{ .Permalink }}">{{ $name }}</a>
            {{ end }}
            {{ end }}

        </div>
        <div class="card-text mt-3"> {{ .Summary }}</div>
        <div class="d-flex justify-content-between align-items-center mt-3">
            <div class="card-subtitle">
                <small class="text-muted ">
                    Автор: Di<br>
                    Дата: {{ .Date.Format "2.1.2006 " }} <br>
                    {{ if .Params.linkhabr }}
                      <a href="{{ .Params.linkhabr }}" class="a-revers" target="_blank" >ТОПИК на Хабре</a>
                    {{ end }}
                </small></div>
            <a href="{{ .Permalink }}" class="card-link btn-main">Подробнее</a></div>

    </div>
</div>