[Unit]
Description=forwardTelegramBot
After=network.target
After=syslog.target

[Service]
WorkingDirectory=/home/forwardtelegrambot
ExecStart=/home/forwardtelegrambot/forwardTelegramBot
TimeoutStopSec=5
PrivateTmp=true
Restart=always

[Install]
WantedBy=multi-user.target